<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>상담관리</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/calendar.css" rel="stylesheet">
  <style>
  	.counsel-optn-box {
  		border: 1px solid #000000;
  		border-radius: 5px;
  		padding-top: 20px;
  	}
  	.counsel-optn-box p {
  		text-align: center;
  	}
  	.counsel-optn-box ul {
  		list-style-type: none;
  		padding-right: 30px;
  	}
  	.counsel-optn-box ul li {
		font-size: 25px;
		margin-bottom: 10px;
  	}
  	.counsel-optn-box ul li div {
  		font-size: 16px;
  		border: 1px solid #DDDDDD;
  		border-radius: 5px;
  		height: 38px;
  		padding-top: 5px;
  		padding-left: 10px;
  	}
  	.counsel-optn-box ul li button {
  		width: 100%;
  		margin-top: 30px;
  	}
  </style>

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="~{/student/std_header :: std_header}"></div>		
  <!-- End Header -->
  
  <!-- ======= Counsel_Sidebar ======= -->
  <div th:replace="~{/student/counsel_sidebar :: counsel_sidebar}"></div>	
  <!-- End Counsel_Sidebar -->

  <main id="main" class="main">

    <!-- Start Page Title
    <div class="pagetitle">
      <h1>Blank Page</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Blank</li>
        </ol>
      </nav>
    </div> End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
        	<div class="card">
        		<div class="card-body">
        			<h5 class="card-title">상담 예약</h5>
        			
        			<div class="">
        			gad'fjga'dofgof
        			
        			</div>
        			
        		</div>
        	</div>
            <div class="card">
                <div class="card-body">

                  <!-- Bordered Tabs -->
                  <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">상담사</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">지도교수</button>
                    </li>
                  </ul>
                  <div class="tab-content pt-2" id="borderedTabContent">
                    <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                      
                      <div class="row">
	                      <div class="col-md-6" style="display: flex; flex-wrap: wrap;">
		                    <div>
		                      <select class="form-select">
		                        <option>전체</option>
		                        <option>상담사1</option>
		                        <option>상담사2</option>
		                        <option>상담사3</option>
		                        <option>상담사4</option>
		                        <option>상담사5</option>
		                      </select>
							  <p>* 상담사를 선택하시면 해당 상담사의 일정만 표시됩니다.</p>
		                    </div>
	
		                    <div class="reser-calendar">
		                      <div class="calendar-header">
		                        <button id="prevMonth">&lt;</button>
		                        <h2 id="monthAndYear"></h2>
		                        <button id="nextMonth">&gt;</button>
		                      </div>
		                      <table id="calendarTable">
		                        <thead id="calendarHeader">
		                          <!-- 요일 헤더는 JavaScript에서 동적으로 추가됩니다 -->
		                        </thead>
		                        <tbody id="calendarBody">
		                          <!-- 달력 날짜가 여기에 표시됩니다 -->
		                        </tbody>
		                      </table>
		                    </div>
	                      </div>
	
	                      <div class="col-md-4 counsel-optn-box">
	                      	<p>희망 날짜를 선택한 후, 아래 내용을 선택해주세요.</p>
	                        <hr>
	                        <ul>
	                          <li><i class="bx bx-check"></i>상담사</li>
	                          <li><div id="">전체</div></li>
	                          <li><i class="bx bx-check"></i>예약시간</li>
	                          <li><div id=""></div></li>
	                          <li><i class="bx bx-check"></i>시간 구분</li>
	                          <li>
	                            <select class="form-select">
	                              <option>뭐가</option>
	                              <option>필요</option>
	                              <option>하지</option>
	                            </select>
	                          </li>
	                          <li><i class="bx bx-check"></i>상담 종류</li>
	                          <li>
	                            <select class="form-select">
	                              <option>진로</option>
	                              <option>학업</option>
	                              <option>블라블라</option>
	                            </select>
	                          </li>
	                          <li><i class="bx bx-check"></i>상담 방식</li>
	                          <li>
	                            <select class="form-select">
	                              <option>대면</option>
	                              <option>화상</option>
	                              <option>전화</option>
	                              <option>채팅</option>
	                            </select>
	                          </li>
	                          <li><button type="button" class="btn btn-primary btn-lg">신청하기</button></li>
	                        </ul>
	                      </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">












<div class="col-md-4 counsel-optn-box">
	                        <ul>
	                          <li><i class="bx bx-check"></i>시간 구분</li>
	                          <li>
	                          	<input type="date">
	                          </li>
	                          <li><i class="bx bx-check"></i>시간 구분</li>
	                          <li>
	                            <select class="form-select">
	                              <option>뭐가</option>
	                              <option>필요</option>
	                              <option>하지</option>
	                            </select>
	                          </li>
	                          <li><i class="bx bx-check"></i>상담 종류</li>
	                          <li>
	                            <select class="form-select">
	                              <option>진로</option>
	                              <option>학업</option>
	                              <option>블라블라</option>
	                            </select>
	                          </li>
	                          <li><i class="bx bx-check"></i>상담 방식</li>
	                          <li>
	                            <select class="form-select">
	                              <option>대면</option>
	                              <option>화상</option>
	                              <option>전화</option>
	                              <option>채팅</option>
	                            </select>
	                          </li>
	                          <li><button type="button" class="btn btn-primary btn-lg">신청하기</button></li>
	                        </ul>
</div>






















                    </div>
                  </div><!-- End Bordered Tabs -->
                </div>
            </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
  <script src="/js/student/calendar.js"></script>
</body>

</html>