<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>상담관리</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/selftest.css?v=1" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
	<div th:replace="~{/student/std_header :: std_header}"></div>	<!-- Std Header -->
	<div th:replace="~{/student/std_sidebar :: std_sidebar}"></div>	<!-- Std Sidebar -->

    <main id="main" class="main">
	
	    <!-- ======= Page Title ======= -->
	    <div class="pagetitle">
	      	<h1>상담관리</h1>
	      	<nav>
	        	<ol class="breadcrumb">
	        		<li class="breadcrumb-item"><a href="/">Home</a></li>
	          		<li class="breadcrumb-item">상담관리</li>
	          		<li class="breadcrumb-item active">자가심리검사</li>
	        	</ol>
	      	</nav>
	    </div> 
	    <!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
        
        	<!-- 자가심리검사목록 Card -->
            <div class="card">
                <div class="card-body">
                  	<h5 class="card-title">자가심리검사 리스트</h5>
                  	
                  	<div th:replace="~{/student/std_selftest_modal :: std_selftest_modal}"></div>	<!-- SelfTest Modal -->
                  	<div th:replace="~{/student/std_testrslt_modal :: std_testrslt_modal}"></div>	<!-- TestResult Modal -->
                  	
		          	<!-- List group with custom content -->
		            <ol class="list-group list-group-numbered">
		                <li class="list-group-item d-flex justify-content-between align-items-start" th:each="inspData : ${ inspList }">
		                  	<div class="ms-2 me-auto">
		                    	<div class="fw-bold test-name">[[${ inspData.getPsyc_insp_flnm() }]]</div>
		                    	[[${ inspData.getInsp_expln() }]]
		                  	</div>
		                  	<button class="btn btn-primary rounded-pill modal-button" th:value="${ inspData.getInsp_no() }" data-bs-toggle="modal" data-bs-target="#modalSelfTesting" style="margin-left: 5px; align-self: center; min-width: 90px;">검사하기</button>
		                  	<button class="btn btn-success rounded-pill result-button" th:value="${ inspData.getInsp_no() }" data-bs-toggle="modal" data-bs-target="#modalSelfTestResult" style="margin-left: 5px; align-self: center; min-width: 90px;">결과보기</button>
		                </li>
		           	</ol>
		           	<!-- End 자가심리검사목록 Card -->

                </div>
            </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <div th:replace="~{/student/std_footer :: std_footer}"></div>	<!-- 학생 footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
  <script src="/js/student/selftest.js?v=2"></script>

</body>

<script>
window.onload=function(){
	document.getElementById('counsel-nav').className = 'nav-link';
	document.getElementById('counsel-nav1').className += ' show';
    document.getElementById('counsel-nav-5').className += ' active';	
}
</script>

</html>