<!-- ======= Counsel Detail Modal ======= -->
<div class="modal fade" id="modalSelfTestResult" tabindex="-1" th:fragment="std_testrslt_modal" style="height: 1000px;">
	<div class="modal-dialog modal-dialog-scrollable modal-xl">
		
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">심리검사 결과보기</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			
			<div class="modal-body">
				<div class="card-body">
				    <!-- 검사명 -->
				    <h5 class="test-title">검사명: 인터넷 사용</h5>
				    <span>검사일시 : 124424242</span>
				    
				    <!-- 질문 및 답변 -->
				    <div class="question-answer">
				        <ul class="list-group">
				            <li class="list-group-item">
				            	<div class="question">질문 1. 인터넷을 얼마나 자주 사용하십니까?</div>
					            <div class="answer-score">
					                <div class="answer">매일 사용합니다</div>
					                <div class="score">5점</div>
					            </div>
					        </li>
				        </ul>
				    </div>
				
				    <!-- 결과 설명 -->
				    <div class="explanation-text mt-4">
				        <h6><strong>총점: 27점</strong></h6>
				        <h4 class="text-danger mt-3">
				            섭식 문제 없음<br>현재 식사나 음식 섭취, 체중, 다이어트 등에 관련된 심각한 문제를 보이지 않습니다.
				        </h4>
				    </div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- End Counsel Detail Modal-->