<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>상담관리</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/empy.css" rel="stylesheet">
  <link href="/assets/css/calendar.css" rel="stylesheet">
  
  <style>
  	.counsel-optn-box {
  		border: 1px solid rgba(1, 41, 112, 0.2);
  		border-radius: 5px;
  		padding-top: 20px;
  		margin: auto;
  		margin-top: 30px;
  		margin-bottom: 30px;
  	}
  	.counsel-optn-box p {
  		text-align: center;
  	}
  	.counsel-optn-box ul {
  		list-style-type: none;
  		padding-right: 30px;
  	}
  	.counsel-optn-box ul li {
		font-size: 25px;
		margin-bottom: 10px;
  	}
  	.counsel-optn-box ul li div{
  		font-size: 16px;
  		border: 1px solid rgba(1, 41, 112, 0.2);
  		border-radius: 5px;
  		height: 38px;
  		padding-top: 5px;
  		padding-left: 10px;
  	}
  	.counsel-optn-box ul li button {
  		width: 100%;
  		margin-top: 30px;
  	}
  </style>

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
	<div th:replace="~{/student/std_header :: std_header}"></div>	<!-- Std Header -->
	<div th:replace="~{/student/std_sidebar :: std_sidebar}"></div>	<!-- Std Sidebar -->

    <main id="main" class="main">

     <!-- ======= Page Title ======= -->
	    <div class="pagetitle">
	      	<h1>상담관리</h1>
	      	<nav>
	        	<ol class="breadcrumb">
	          		<li class="breadcrumb-item"><a href="/">Home</a></li>
	          		<li class="breadcrumb-item">상담관리</li>
	          		<li class="breadcrumb-item active">상담예약</li>
	        	</ol>
	      	</nav>
	    </div> 
	    <!-- End Page Title -->

	    <section class="section">
	      <div class="row">
	        <div class="col-lg-12">
	        
	        	<!-- ======= Chatting Counsel Card ======= -->
	          	<div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
               		상담 설명 수정해야함.
                	<button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
              	</div>
    	      	<div class="card">
        	  		<div class="card-body">
            	  		<h5 class="card-title">상담예약</h5>
              			<p class="card-text text-muted">
              				상담사와 지도교수 중 선택하여 상담예약을 신청하실 수 있습니다.<br>
              				상담사에게 상담 신청시 바로 승인 처리되며, 지도 교수 상담 신청시에는 교수님의 확인 이후 승인/미승인 처리됩니다.<br>  
              				상담 종류에는 ~~~~~~~가 있으며, 상담 방식으로는 ~~~~~가 있습니다.<br>
              				자가심리검사 탭에서 간단한 심리검사를 진행할 수 있으니 참고해주세요.
              			</p>
            		</div>
          		</div>
          		<!-- End Chatting Counsel Card -->

          		<!-- ======= 상담 신청 Card ======= -->
	            <div class="card">
	                <div class="card-body">
	                  <h5 class="card-title" >상담신청</h5>
			          <!-- 상담신청 탭 리스트 -->
	                  <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist" style="font-size: 25px;">
	                    <li class="nav-item flex-fill" role="presentation">
	                      <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">상담사</button>
	                    </li>
	                    <li class="nav-item flex-fill" role="presentation">
	                      <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">지도교수</button>
	                    </li>
	                  </ul>
		              <!-- End 상담신청 탭 리스트 -->
		              
		              <!-- 상담신청 탭 콘텐츠 -->
	                  <div class="tab-content pt-2" id="borderedTabJustifiedContent">

		                <!-- 상담사 탭 -->
	                    <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
	                    <form id="frmCounseler">
	                      <div class="row">
		                      <div class="col-md-4" style="display: flex; flex-wrap: wrap; margin: auto; margin-top: 30px;">
			                    <div style="margin-left: 35px;">
			                      <select class="form-select" name="counseler_number" onchange="updateCnslrName()">
			                        <option value="">전체</option>
			                        <option  th:each="empData : ${counseler_list}" th:value="${ empData.getEmp_no() }">[[${ empData.getEmp_flnm() }]]</option>
			                      </select>
								  <p>* 상담사를 선택하시면 해당 상담사의 일정만 표시됩니다.</p>
			                    </div>
		
			                    <div class="reser-calendar">
			                      <div class="calendar-header">
			                        <button id="prevMonth">&lt;</button>
			                        <h2 id="monthAndYear"></h2>
			                        <button id="nextMonth">&gt;</button>
			                      </div>
			                      <table id="calendarTable">
			                        <thead id="calendarHeader">
			                          <!-- 요일 헤더는 JavaScript에서 동적으로 추가됩니다 -->
			                        </thead>
			                        <tbody id="calendarBody">
			                          <!-- 달력 날짜가 여기에 표시됩니다 -->
			                        </tbody>
			                      </table>
			                    </div>
		                      </div>
		
		                      <div class="col-md-4 counsel-optn-box" style="margin: auto;">
		                      	<p>희망 날짜 선택 후, 아래 내용을 선택해주세요.</p>
		                        <hr>
		                        <ul>
		                          <li><i class="bx bx-check"></i>상담사</li>
		                          <li><div id="selectedCnslrName">전체</div></li>
		                          <li><i class="bx bx-check"></i>예약 날짜</li>
		                          <li><div id=""></div></li>
		                          <li><i class="bx bx-check"></i>시간 구분</li>
		                          <li>
		                            <select class="form-select">
		                              <option value="">시간 선택</option>
		                              <option value="1">1교시(09:00~10:15)</option>
		                              <option value="2">2교시(10:30~11:45)</option>
		                              <option value="3">3교시(13:00~14:15)</option>
		                              <option value="4">4교시(14:30~15:45)</option>
		                              <option value="5">5교시(16:00~17:15)</option>
		                            </select>
		                          </li>
		                          <li><i class="bx bx-check"></i>상담 종류</li>
		                          <li>
		                            <select class="form-select">
		                              <option value="">종류 선택</option>
		                              <option value="학업">학업</option>
		                              <option value="진로">진로</option>
		                              <option value="심리">심리</option>
		                            </select>
		                          </li>
		                          <li><i class="bx bx-check"></i>상담 방식</li>
		                          <li>
		                            <select class="form-select">
		                              <option value="">방식 선택</option>
		                              <option value="대면">대면</option>
		                              <option value="화상">화상</option>
		                              <option value="전화">전화</option>
		                              <option value="채팅">채팅</option>
		                            </select>
		                          </li>
		                          <li>
		                          	<button type="button" onclick="reservate_counsel('cslr')" class="btn btn-primary btn-lg">신청하기</button>
		                          </li>
		                        </ul>
		                      </div>
	                      </div>
	                    </form>
	                    </div>
	                    <!-- End 상담사 탭 -->

	                    <!-- 교수 탭 -->
	                    <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
	                      <form id="frmProfessor">
							<div class="col-md-4 counsel-optn-box">
		                        <ul>
		                          <li><i class="bx bx-check"></i>예약 날짜</li>
		                          <li>
		                          	<input type="date" name="rsvt_dt" id="" class="form-control">
		                          </li>
		                          <li><i class="bx bx-check"></i>시간 구분</li>
		                          <li>
		                            <select class="form-select" name="hr_se">
		                              <option value="">시간 선택</option>
		                              <option value="1">1교시(09:00~10:15)</option>
		                              <option value="2">2교시(10:30~11:45)</option>
		                              <option value="3">3교시(13:00~14:15)</option>
		                              <option value="4">4교시(14:30~15:45)</option>
		                              <option value="5">5교시(16:00~17:15)</option>
		                            </select>
		                          </li>
		                          <li><i class="bx bx-check"></i>상담 종류</li>
		                          <li>
		                            <select class="form-select" name="dscsn_knd">
		                              <option value="">종류 선택</option>
		                              <option value="학업">학업</option>
		                              <option value="진로">진로</option>
		                              <option value="심리">심리</option>
		                            </select>
		                          </li>
		                          <li><i class="bx bx-check"></i>상담 방식</li>
		                          <li>
		                            <select class="form-select" name="dscsn_mthd">
		                              <option value="">방식 선택</option>
		                              <option value="대면">대면</option>
		                              <option value="화상">화상</option>
		                              <option value="전화">전화</option>
		                              <option value="채팅">채팅</option>
		                            </select>
		                          </li>
		                          <li>
		                            <input type="hidden" name="professor_number" th:value="${ professor_number }">
		                          	<button type="button" onclick="reservate_counsel('prfs')" class="btn btn-primary btn-lg">신청하기</button>
		                          </li>
		                        </ul>
							</div>
						  </form>
	                    </div>
	                    <!-- End 교수탭 -->
	                    
	                  </div>
	                  <!-- End 상담신청 탭 콘텐츠 -->
	                  
	                </div>
	            </div>
				<!-- End 상담신청 Card -->

	        </div>
	      </div>
	    </section>
  </main>
  <!-- End #main -->

  <div th:replace="~{/student/std_footer :: std_footer}"></div>	<!-- 학생 footer -->

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
  
  <script src="/js/student/calendar.js"></script>
  <script src="/js/student/std_counsel_reserve.js?v=3"></script>
</body>
<script>
window.onload=function(){
	document.getElementById('counsel-nav').className = 'nav-link';
	document.getElementById('counsel-nav1').className += ' show';
    document.getElementById('counsel-nav-3').className += ' active';	
}
</script>
</html>