<!-- ======= Counsel Detail Modal ======= -->
<div class="modal fade" id="modalSelfTesting" tabindex="-1" th:fragment="std_selftest_modal" style="height: 1000px;">
	<div class="modal-dialog modal-dialog-scrollable modal-xl">
		
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">자가진단 심리검사</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			
			<div class="modal-body">
			  	<div class="card-body">
					<!-- 문항 헤더 -->
					<div class="header_slf">
						<span class="question-number" id="question-number">01</span>
						<span class="total-questions" id="total-questions"></span>
					</div>

					<!-- 질문 영역 -->
					<div id="question-container">
						<h2 id="question-text"></h2>
					</div>

					<!-- 응답 폼 -->
					<form id="survey-form"></form>
					
					<!-- 이전 및 다음 버튼 -->
					<div class="slftest-navigation-buttons">
						<button type="button" class="nav-btn prev-btn" id="prev-btn">이전</button>
						<button type="button" class="nav-btn next-btn" id="next-btn">다음</button>
					</div>

					<!-- 주의사항 -->
					<div class="note">
						<p>* 자가검진의 결과는 의학적 진단을 대신하는 것이 아니므로 참고자료로만 활용하시기 바랍니다.</p>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- End Counsel Detail Modal-->