/*개인적인 추가 css*/
.right-tag {
	margin-left: auto;
}

.pd-left-3{
	padding-left: 3%;
}

#demo-table > tbody > tr > td{
	padding-left: 15px;
}

#demo-table > thead > tr > th > button{
	cursor: default;
}

#main{
	height: auto;
	bottom: 0 !important;
}