<!DOCTYPE html>
<html lang="ko">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<title>사용자 정보 관리(최고관리자)_관리자정보관리</title>
	<!-- Bootstrap core CSS -->
	<link href="/admin/css/bootstrap.min.css" rel="stylesheet">
	<link href="/admin/css/font-awesome.min.css" rel="stylesheet">
	<link href="/admin/css/style.css" rel="stylesheet">
	<link href="/admin/css/nav.css" rel="stylesheet">
	<link href="/admin/css/shCoreEclipse.css" type="text/css" rel="stylesheet" />
	<link href="/admin/css/shThemeEclipse.css" type="text/css" rel="Stylesheet" />
	<link href="/admin/css/global.css" rel="stylesheet">
	<link href="/admin/css/baseui.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link href="/admin/css/listmod.css" rel="stylesheet">
</head>
<!-- 상세보기 모달_ 이미지 업로드시 미리보기 -->
<script src="/admin/js/add_img.js"></script>
<body>


	<!--header시작-->
	<div th:replace="~{/admin/header :: admin_header}"></div>
	<!--header끝-->

	<!--nav시작 -->
	<section id="menu_big" class="sticky-top" th:insert="~{/admin/nav :: admin_nav}">
	</section>
	<!--nav끝 -->

	<div class="container-fluid">
		<div class="row">

			<main class="col-md-9 ms-sm-auto common col-lg-10 px-md-4">
				<div class="row crm_1">
					<div class="col-md-3">
						<div class="analytic_1l">
							<h5 class="mb-0">관리자 정보 관리</h5>
						</div>
					</div>
					<div class="col-md-9">
						<div class="crm_1r pull-right">
							<ul>
								<li class="col_3 d-inline-block"><a href="#">사용자 정보 관리</a> <i
										style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i>
								</li>
								<li class="col_3 d-inline-block">관리자 정보 관리</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="prod_1i mt-3 row">
					<div class="col-lg-6 col-md-8 col-sm-12">
						<div class="prod_1il d-flex align-items-center w-100">
						<form id="frmSearch"
								class="search-form d-flex align-items-center"
								th:onsubmit="return adminlist_search()">
							<div class="d-flex align-items-center">
								<select class="form-select form-select-sm ms-2 me-2"
									name="search_part" id="inputState"
									style="width: 150px; height:38px;">
									<option value="EMP_FLNM" th:selected="${ search_part == 'EMP_FLNM' }">이름</option>
									<option value="EMP_NO" th:selected="${ search_part == 'EMP_NO' }">교번</option>
									<option value="JBGD_NM" th:selected="${ search_part == 'JBGD_NM' }">직급</option>
									<option value="ACNT_STTS" th:selected="${ search_part == 'ACNT_STTS' }">상태</option>
								</select>
							</div>

							<!-- 입력 텍스트 필드 -->
							<input class="form-control ms-2" id="searchInput" type="text"
								name="search_word" th:value="${ search_word }"
								style="flex-grow: 1; width: 100%; min-width: 200px; height:38px;">

							<!-- 검색 버튼 -->
							<button class="btn btn-primary bg_1 ms-3" type="submit"
									style="height: 38px; padding: 0 20px; display: flex; align-items: center; justify-content: center;">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
									<path
											d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
								</svg>
							</button>
							</form>
						</div>
					</div>


					<div class="d-flex justify-content-end">
						<a class="buttton_1" href="/emlistmod_adduser"
							style="height:38px; display:flex; align-items:center; justify-content: center;">
							사용자 추가 <i class="fa fa-plus-circle ms-2"></i>
						</a>
					</div>
				</div>

				<div class="table-responsive">
					<table class="table table-responsive table-striped table-borderless m-0 mt-2">
						<thead>
							<tr>
								<th scope="col">이름</th>
								<th scope="col">교번</th>
								<th scope="col">직급</th>
								<th scope="col"></th><th scope="col"></th>
								<th scope="col">상태</th>
								<th scope="col">상세보기</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="admin_data : ${admin_list}">
								<td>
									<h6 class="font_14 col_3" th:text="${admin_data.getEmp_flnm()}"></h6>
								</td>
								<td>
									<h6 class="font_14 col_3" th:text="${admin_data.getEmp_no()}"></h6>
								</td>
								<td>
									<h6 class="font_14 col_3" th:text="${admin_data.getJbgd_nm()}"></h6>
								</td>
								<td></td><td></td>
								<td>
									<h6 class="bg_3 text-center font_12 p-1 mb-0" th:text="${admin_data.getAcnt_stts()}"></h6>
								</td>
								<td>
									<button type="button" class="btn btn-primary bg_1" th:onclick="openEmpInfo([[${ admin_data.getEmp_no() }]])"
									data-bs-toggle="modal" data-bs-target="#adminuserdetailModal">
										<i class="fa fa-cog"> 상세보기</i></button>
								</td>
							</tr>
						</tbody>

					</table>
				</div>
		</main>
	</div>
</div>
	
	<!-- 교직원 상세정보 모달 시작 -->
	<div th:insert="~{/admin/adminlistmod_userdetailmodal :: admin_userdetailmodal}"></div>
	<!-- 교직원 상세정보 모달 끝 -->
	
	
	<!--footer시작 -->
	<div th:replace="~{/admin/footer :: admin_footer}"></div>
	<!--footer끝 -->
	
	<!-- script -->
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!-- 다음 API 주소 -->
	<script src="/admin/js/adminlistmod.js"></script>
	<script src="/admin/js/bootstrap.bundle.min.js"></script>
	<script src="/admin/js/global.js"></script>


</body>

</html>