<div th:fragment="employee_addusermodal" class="modal fade"
	id="addemuserModal" tabindex="-1" aria-labelledby="detailModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="detailModalLabel">교직원 사용자 추가</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- 상세 정보 -->
				<section class="section">
					<div class="row">
						<div class="col-lg-12">

							<!-- ======= 개인정보 Card ======= -->
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">개인정보(한글은 폰트 적용X)</h5>

									<div class="row mb-1">
										<div class="col-md-2 col-lg-2">
											<img src="/assets/img/3.jpeg" alt="Profile" class="rounded-4"
												style="margin-left: 25%;" width="80%" height="225px">
										</div>
										<div class="col-md-4 col-lg-4">
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">교번</label>
												<div class="col-sm-5 right-tag">
													<input type="text" class="form-control" disabled>
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">이름</label>
												<div class="col-sm-5 right-tag">
													<input type="text" class="form-control" disabled>
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">생년월일</label>
												<div class="col-sm-5 right-tag">
													<input type="text" class="form-control" disabled>
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">소속기관(단과대학)</label>
												<div class="col-sm-5 right-tag">
													<input type="text" class="form-control" disabled>
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">소속부서(학과)</label>
												<div class="col-sm-5 right-tag">
													<input type="text" class="form-control" disabled>
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">직급</label>
												<div class="col-sm-5 right-tag">
													<input type="text" class="form-control" disabled>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-lg-6">
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">입사년도</label>
												<div class="col-sm-6 right-tag">
													<input type="text" class="form-control" disabled>
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">교직(전공)</label>
												<div class="col-sm-6 right-tag">
													<input type="text" class="form-control" disabled>
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">교원자격증번호</label>
												<div class="col-sm-6 right-tag">
													<input type="text" class="form-control" disabled>
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">교원자격증발급일자</label>
												<div class="col-sm-6 right-tag">
													<input type="text" class="form-control" disabled>
												</div>
											</div>

											<form id="personal_info" action="/employee/empy_info"
												method="post">
												<input type="hidden">
												<div class="row mb-1">
													<label class="col-sm-4 col-form-label right-tag">이메일</label>
													<div class="col-sm-6 right-tag">
														<input type="text" class="form-control" disabled required>
													</div>
												</div>
												<div class="row mb-3">
													<label class="col-sm-4 col-form-label right-tag">전화번호</label>
													<div class="col-sm-6 right-tag">
														<input type="text" class="form-control"
															onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
															maxlength="11"
															onkeydown="this.value=this.value.replace(/[^0-9]/g,'');"
															pattern="[0-9]{11}" disabled required>
													</div>
												</div>
											</form>

										</div>
									</div>

									<button type="button" class="btn btn-outline-success float-end"
										style="margin-left: 5px;" onclick="personal_save()">
										<i class="ri-save-3-line"></i> 저장
									</button>
									<button type="button" class="btn btn-outline-primary float-end"
										style="margin-left: auto;" onclick="personal_input()">
										<i class="ri-edit-2-line"></i> 입력
									</button>

								</div>
							</div>
							<!-- End 개인 정보 Card -->

							<!-- ======= 거주지 정보 Card ======= -->
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">거주지 정보</h5>
									<div class="col-md-12">
										<form id="addr_info" method="post">
											<input type="hidden">
											<div class="row mb-2" style="margin-left: 5%;">
												<label class="col-sm-1 col-form-label pd-left-3">우편번호</label>
												<div class="col-sm-2">
													<input type="text" class="form-control" disabled required>
												</div>
												<button type="button" class="btn btn-primary"
													id="emp_addr_search_btn"
													style="width: 150px; height: 38px;"
													onclick="execDaumPostcode()" disabled>우편번호 검색</button>
											</div>
											<div class="row mb-2" style="margin-left: 5%;">
												<label class="col-sm-1 col-form-label pd-left-3">주소</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" disabled required>
												</div>
											</div>
											<div class="row mb-3" style="margin-left: 5%;">
												<label class="col-sm-1 col-form-label pd-left-3">상세주소</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" disabled required>
												</div>
											</div>
											<div id="layer"
												style="display: none; position: fixed; overflow: hidden; z-index: 1; -webkit-overflow-scrolling: touch;">
												<img
													src="//t1.daumcdn.net/postcode/resource/images/close.png"
													id="btnCloseLayer"
													style="cursor: pointer; position: absolute; right: -3px; top: -3px; z-index: 1"
													onclick="closeDaumPostcode()" alt="닫기 버튼">
											</div>
										</form>
									</div>

									<button type="button" class="btn btn-outline-success float-end"
										style="margin-left: 5px;" onclick="addr_save()">
										<i class="ri-save-3-line"></i> 저장
									</button>
									<button type="button" class="btn btn-outline-primary float-end"
										style="margin-left: auto;" onclick="addr_input()">
										<i class="ri-edit-2-line"></i> 입력
									</button>

								</div>
							</div>
							<!-- End 거주지 정보 Card -->

							<!-- ======= 계좌 정보 Card ======= -->
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">계좌 정보</h5>
									<form id="bank_info" action="/employee/empy_info" method="post">
										<div class="row mb-3" style="margin-left: 5%;">
											<input type="hidden"> <label
												class="col-sm-1 col-form-label pd-left-3">은행명</label>
											<div class="col-sm-2">
												<input type="text" class="form-control" disabled required>
											</div>
											<label class="col-sm-1 col-form-label pd-left-3">계좌번호</label>
											<div class="col-sm-3">
												<input type="text" class="form-control" disabled required>
											</div>
											<label class="col-sm-1 col-form-label pd-left-3">예금주</label>
											<div class="col-sm-2">
												<input type="text" class="form-control" disabled>
											</div>
										</div>
									</form>

									<button type="button" class="btn btn-outline-success float-end"
										style="margin-left: 5px;" onclick="bank_save()">
										<i class="ri-save-3-line"></i> 저장
									</button>
									<button type="button" class="btn btn-outline-primary float-end"
										style="margin-left: auto;" onclick="bank_input()">
										<i class="ri-edit-2-line"></i> 입력
									</button>

								</div>
							</div>
							<!-- End 계좌 정보 Card -->

						</div>
					</div>
				</section>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary float-end"
					style="margin-left: auto;">
					<i class="ri-edit-2-line"></i> 저장
				</button>
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>