<section id="footer" th:fragment="admin_footer">
	<div class="container-fluid">
		<div class="row footer">
			<div class="col-md-8">
				<div class="footer_1l">
					<p class="mb-0 text-light">© 2024 Choongang Univ Cms Administrator Site. All Rights Reserved |
						Design by <a class="col_1 font-weight-bold" href="/index">CMS1</a></p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="footer_1r" style="text-align:right;">
					<ul class="mb-0">
						<li class="d-inline font_14"><a class="text-light" href="#">About </a></li>
						<li class="d-inline font_14"><a class="text-light" href="#">Support </a></li>
						<li class="d-inline font_14"><a class="text-light" href="#">Contact Us </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>