<header class="navbar navbar-dark  bg-dark flex-md-nowrap p-0 shadow header_b" th:fragment="admin_header">

	<div class="col-md-2">
		<div class="header_topl">
			<h4 class="mb-0" style="font-size:1.5rem; padding-top:4px; padding-left:15px;"><a class="col_1"
					href="/admin/stlistmod">Choongang Univ Cms Administrator</a></h4>
		</div>
	</div>
	<div class="col-md-10">
		<div class="header_topr" style="float:right;">
			<ul class="nav hide">
				<li class="nav-item sign_box dropdown">
					
					<div th:if="${#authorization.expression('hasRole(''SUPER_ADMIN'')')}">
					<a class="nav-link dropdown-toggle text-dark  border-0" data-bs-toggle="dropdown" href="#"
						role="button" aria-expanded="false"><img alt="abc" class="rounded-circle" width="30" height="30"
							src="/admin/img/calogo.png">최고관리자</a>
					</div>
					
					<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
					<a class="nav-link dropdown-toggle text-dark  border-0" data-bs-toggle="dropdown" href="#"
						role="button" aria-expanded="false"><img alt="abc" class="rounded-circle" width="30" height="30"
							src="/admin/img/calogo.png">일반관리자</a>
					</div>		
							
							
					<ul class="dropdown-menu drop_2" style="left:auto; right:0; min-width:200px;">
						<li class="small" style="padding: 0.25rem 1rem;">Welcome !</li>
						<li><a class="dropdown-item" href="/perform_logout"><i class="fa fa-sign-out"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>