<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin site - Login</title>

	<!-- Bootstrap core CSS -->
	<link href="/admin/css/bootstrap.min.css" rel="stylesheet">
	<link href="/admin/css/font-awesome.min.css" rel="stylesheet">
	<link href="/admin/css/style.css" rel="stylesheet">
	<link href="/admin/css/nav.css" rel="stylesheet">
	<link href="/admin/css/authentication.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

	<!--로그인 css-->
	<link href="/admin/css/admin_login.css" rel="stylesheet">

</head>

<body>
	<section>
		<div class="container">
			<!-- 로그인 박스 -->
			<div class="aulog_l">
				<h5 class="mb-0">
					<img src="/admin/img/calogo.png" alt="Logo" width="50" height="50">
					중앙정보대학교 관리자 사이트
				</h5>

				<h6 class="mt-4">관리자 아이디</h6>
				<input class="form-control" placeholder="관리자 아이디를 입력하세요." type="text">

				<h6 class="mt-4">관리자 비밀번호</h6>
				<input class="form-control" placeholder="관리자 비밀번호를 입력하세요" type="password">

				<a class="buttton_1" href="#"><i class="fa fa-sign-in"></i> 관리자 로그인</a>

				<div class="forgot-password">
					<a href="./adminfindid">아이디/패스워드 찾기</a>
				</div>
			</div>
		</div>
	</section>
	<script src="/amdin/js/bootstrap.bundle.min.js"></script>

</body>
</html>