<div th:fragment="noticedetailmodal" class="modal fade"
	id="noticedetailModal" tabindex="-1" aria-labelledby="detailModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="detailModalLabel">학생 상세 정보</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<form id="notice_detail_frm" method="post"
				action="./notice_detail_update" enctype="multipart/form-data">
				<div class="modal-body" id="studentdetailcontent">
					<section class="section">
						<div class="row">

							<div class="col-md-12 mb-2">
								<label class="col-form-label">제목</label> <input type="text"
									name="ntc_mttr_ttl" id="notice_title" class="form-control" required>
							</div>

							<div class="row mb-3">
								<div class="col-md-3">
									<label class="col-form-label">공지 번호</label> <input type="text" name="ntc_mttr_sn"
										id="notice_number" class="form-control" required>
								</div>
								<div class="col-md-3">
									<label class="col-form-label">작성자</label> <input type="text"
										name="wrtr_nm" id="writer_name" class="form-control" required>
								</div>
								<div class="col-md-3">
									<label class="col-form-label">조회수</label> <input
										type="text" id="inq_cnt" class="form-control" disabled>
								</div>
								<div class="col-md-3">
									<label class="col-form-label">작성날짜</label> <input type="text"
										id="write_date" class="form-control" disabled>
								</div>
							</div>

							<div class="row mb-3">
								<div class="col-md-6">
									<label class="col-form-label">공지분류</label> <select
										class="form-select" id="ntc_clsf_nm" name="ntc_clsf_nm"
										required>
										<option value="" disabled selected>선택하세요</option>
										<option value="학사">학사</option>
										<option value="장학">장학</option>
										<option value="비교과">비교과</option>
										<option value="교직원">교직원</option>
									</select>
								</div>
								<div class="col-md-6">
									<label class="col-form-label">공지 고정 여부</label> <select
										class="form-select" id="ntc_fix_yn" name="ntc_fix_yn" required>
										<option value="Y">활성화</option>
										<option value="N">비활성화</option>
									</select>
								</div>
							</div>

							<div class="col-md-12 mb-2">
								<label class="col-form-label">내용</label>
								<div class="main-container">
	    						<div class="editor-container editor-container_classic-editor editor-container_include-style" id="editor-container">
		    						<div class="editor-container__editor">
		        						<textarea id="editor" class="form-control notice_input3" name="ntc_cn"></textarea>
		        					</div>
	        					</div>
        					</div>
							</div>

							<div class="col-md-12 mb-2" id="existingFileBlock">
								<label class="col-form-label">기존 첨부파일</label> <input type="text"
									name="orgnl_atch_file_nm" id="atchfile_original_name" class="form-control" readonly>
								<input type="hidden" name="atch_file_nm" id="atchfile_name">
							</div>
							<div class="col-md-12 mb-2">
								<label class="col-form-label">첨부파일 변경</label> <input type="file"
									name="attchment_file" class="form-control">
							</div>


						</div>
					</section>
				</div>
			</form>

			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary float-end"
					id="update_noticedata" style="margin-left: auto;">
					<i class="ri-edit-2-line"></i> 수정
				</button>
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>