<div th:fragment="noticedetailmodal" class="modal fade"
	id="noticedetailModal" tabindex="-1" aria-labelledby="detailModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="detailModalLabel">학생 상세 정보</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<form id="notice_detail_frm" method="post"
				action="./notice_detail_update" enctype="multipart/form-data">
				<div class="modal-body" id="studentdetailcontent">
					<section class="section">
						<div class="row">


							<div class="col-md-12 mb-2">
								<label class="col-form-label">제목</label> <input type="text"
									name="ntc_mttr_ttl" class="form-control" required>
							</div>

							<div class="row mb-3">
								<div class="col-md-3">
									<label class="col-form-label">hanguel no yuyu
										(nct_mttr_sn)</label> <input type="text" name="nct_mttr_sn"
										class="form-control" required>
								</div>
								<div class="col-md-3">
									<label class="col-form-label">작성자</label> <input type="text"
										name="wrtr_nm" class="form-control" required>
								</div>
								<div class="col-md-3">
									<label class="col-form-label">inq_cnt</label> <input
										type="text" name="inq_cnt" class="form-control" required>
								</div>
								<div class="col-md-3">
									<label class="col-form-label">wrt_dt</label> <input type="text"
										name="wrt_dt" class="form-control" required>
								</div>
							</div>

							<div class="row mb-3">
								<div class="col-md-6">
									<label class="col-form-label">공지분류</label> <select
										class="form-select" id="ntc_clsf_nm" name="ntc_clsf_nm"
										required>
										<option value="" disabled selected>선택하세요</option>
										<option value="학사">학사</option>
										<option value="장학">장학</option>
										<option value="비교과">비교과</option>
										<option value="교직원">교직원</option>
									</select>
								</div>
								<div class="col-md-6">
									<label class="col-form-label">공지 고정 여부</label> <select
										class="form-select" id="ntc_fix_yn" name="ntc_fix_yn" required>
										<option value="Y">활성화</option>
										<option value="N">비활성화</option>
									</select>
								</div>
							</div>

							<div class="col-md-12 mb-2">
								<label class="col-form-label">내용</label>
								<textarea name="ntc_cn" class="form-control" rows="4" required></textarea>
							</div>

							<div class="col-md-12 mb-2">
								<label class="col-form-label">첨부파일</label> <input type="file"
									name="orgnl_atch_file_nm" class="form-control">
							</div>


						</div>
					</section>
				</div>
			</form>

			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary float-end"
					onclick="update_stuserdata()" style="margin-left: auto;">
					<i class="ri-edit-2-line"></i> 수정
				</button>
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>