<div th:fragment="student_addusermodal" class="modal fade"
	id="addstuserModal" tabindex="-1" aria-labelledby="detailModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="detailModalLabel">학생 사용자 추가</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- 상세 정보 -->
				<section class="section">
					<div class="row">
						<div class="col-lg-12">
							<!-- ======= 개인정보 Card ======= -->
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">개인정보</h5>
									<div class="row mb-1">
										<div class="col-md-2 col-lg-2">
											<!-- 학생 사용자 이미지-->
											<div id="USER_PHOTO" name="USER_PHOTO"></div>
											<br> <input type="file" accept="image/*"
												onchange="setstuser_img(event);">
										</div>
										<div class="col-md-4 col-lg-4">
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">입학년도</label>
												<div class="col-sm-5 right-tag">
													<input type="text" name="entranceyear" id="entranceyear"
														class="form-control">
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">학번</label>
												<div class="col-sm-5 right-tag">
													<input type="text" name="STDNT_NO" id="STDNT_NO"
														class="form-control">
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">이름</label>
												<div class="col-sm-5 right-tag">
													<input type="text" name="STDNT_FLNM" id="STDNT_FLNM"
														class="form-control">
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">생년월일</label>
												<div class="col-sm-5 right-tag">
													<input type="text" name="BRDT" id="BRDT"
														class="form-control">
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">학년</label>
												<div class="col-sm-5 right-tag">
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">학기</label>
												<div class="col-sm-5 right-tag">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-4 col-lg-6">
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">대학(원)</label>
												<div class="col-sm-6 right-tag">
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">학과(부)</label>
												<div class="col-sm-6 right-tag">
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">전공</label>
												<div class="col-sm-6 right-tag">
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">학적구분</label>
												<div class="col-sm-6 right-tag">
													<select class="form-select" id="categorySelect"
														style="width: 260px; height: 38px;">
														<option value="">재학</option>
														<option value="">휴학</option>
														<option value="">졸업</option>
														<option value="">자퇴</option>
														<option value="">재적</option>
													</select>
												</div>
											</div>
											<div class="row mb-1">
												<label class="col-sm-4 col-form-label right-tag">이메일</label>
												<div class="col-sm-6 right-tag">
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="row mb-3">
												<label class="col-sm-4 col-form-label right-tag">전화번호</label>
												<div class="col-sm-6 right-tag">
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End 개인 정보 Card -->

							<!-- ======= 거주지 정보 Card ======= -->
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">거주지 정보</h5>
									<div class="col-md-12">
										<input type="hidden">
										<div class="row mb-2" style="margin-left: 5%;">
											<label class="col-sm-1 col-form-label pd-left-3">우편번호</label>
											<div class="col-sm-2">
												<input type="text" class="form-control" disabled required>
											</div>
											<button type="button" class="btn btn-primary"
												id="emp_addr_search_btn" style="width: 150px; height: 38px;"
												onclick="execDaumPostcode()" disabled>우편번호 검색</button>
										</div>
										<div class="row mb-2" style="margin-left: 5%;">
											<label class="col-sm-1 col-form-label pd-left-3">주소</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" disabled required>
											</div>
										</div>
										<div class="row mb-3" style="margin-left: 5%;">
											<label class="col-sm-1 col-form-label pd-left-3">상세주소</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" disabled required>
											</div>
										</div>
										<div id="layer"
											style="display: none; position: fixed; overflow: hidden; z-index: 1; -webkit-overflow-scrolling: touch;">
											<img
												src="//t1.daumcdn.net/postcode/resource/images/close.png"
												id="btnCloseLayer"
												style="cursor: pointer; position: absolute; right: -3px; top: -3px; z-index: 1"
												onclick="closeDaumPostcode()" alt="닫기 버튼">
										</div>
									</div>
								</div>
							</div>
							<!-- End 거주지 정보 Card -->

							<!-- ======= 계좌 정보 Card ======= -->
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">계좌 정보</h5>
									<div class="row mb-3">
										<label class="col-sm-1 col-form-label pd-left-3">은행명</label>
										<div class="col-sm-2">
											<input type="text" class="form-control">
										</div>
										<label class="col-sm-1 col-form-label pd-left-3">계좌번호</label>
										<div class="col-sm-3">
											<input type="text" class="form-control">
										</div>
										<label class="col-sm-1 col-form-label pd-left-3">예금주</label>
										<div class="col-sm-2">
											<input type="text" class="form-control">
										</div>
									</div>
								</div>
							</div>
							<!-- End 계좌 정보 Card -->
						</div>
					</div>
				</section>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary float-end"
					style="margin-left: auto;">
					<i class="ri-edit-2-line"></i> 저장
				</button>
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>