<!DOCTYPE html>
<html lang="ko">

<!-- 240923자 앞으로 추가해야하는 기능
1. cdn 이미지 파일 첨부 + 비밀번호 암호화
-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>사용자 정보 관리_학생정보관리</title>
<!-- Bootstrap core CSS -->
<link href="/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="/admin/css/font-awesome.min.css" rel="stylesheet">
<link href="/admin/css/style.css" rel="stylesheet">
<link href="/admin/css/nav.css" rel="stylesheet">
<link href="/admin/css/shCoreEclipse.css" type="text/css" rel="stylesheet" />
<link href="/admin/css/shThemeEclipse.css" type="text/css" rel="Stylesheet" />
<link href="/admin/css/global.css" rel="stylesheet">
<link href="/admin/css/baseui.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="/admin/css/listmod.css" rel="stylesheet">
</head>
<!-- 학생사용자 상세보기 모달_ 이미지 업로드시 미리보기 -->
<script src="/admin/js/add_img.js"></script>
<body>

	<!--header시작-->
	<div th:replace="~{/admin/header :: admin_header}"></div>
	<!--header끝-->

	<!--nav시작 -->
	<section id="menu_big" class="sticky-top"
		th:insert="~{/admin/nav :: admin_nav}"></section>
	<!--nav끝 -->

	<!-- main시작 -->
	<div class="container-fluid">
		<div class="row">
			<main class="col-md-9 ms-sm-auto common col-lg-10 px-md-4">
				<div class="row crm_1">
					<div class="col-md-3">
						<div class="analytic_1l">
							<h5 class="mb-0">학생 정보 관리</h5>
						</div>
					</div>
					<div class="col-md-9">
						<div class="crm_1r pull-right">
							<ul>
								<li class="col_3 d-inline-block"><a href="#">사용자 정보 관리</a>
									<i style="margin-left: 5px; vertical-align: middle;"
									class="fa fa-chevron-right"></i></li>
								<li class="col_3 d-inline-block">학생 정보 관리</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- 검색기능 -->
				<div class="prod_1i mt-3 row">
					<div class="col-lg-6 col-md-8 col-sm-12">
						<div class="prod_1il d-flex align-items-center w-100">
							<form id="frmSearch"
								class="search-form d-flex align-items-center"
								th:onsubmit="return list_search()">
								<select class="form-select form-select-sm ms-2 me-2"
									name="search_part" id="inputState"
									style="width: 150px; height: 38px;">
									<option value="STDNT_FLNM"
										th:selected="${ search_part == 'STDNT_FLNM' }">이름</option>
									<option value="OGDP_UNIV"
										th:selected="${ search_part == 'OGDP_UNIV' }">대학</option>
									<option value="OGDP_SCSBJT"
										th:selected="${ search_part == 'OGDP_SCSBJT' }">학과</option>
									<option value="STDNT_NO"
										th:selected="${ search_part == 'STDNT_NO' }">학번</option>
								</select> <input class="form-control ms-2" id="searchInput" type="text"
									name="search_word" th:value="${ search_word }"
									style="flex-grow: 1; width: 100%; min-width: 200px; height: 38px;">

								<button class="btn btn-primary bg_1 ms-3" type="submit"
									style="height: 38px; padding: 0 20px; display: flex; align-items: center; justify-content: center;">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
									<path
											d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
								</svg>
								</button>
							</form>

						</div>
					</div>

					<!-- 사용자 추가 버튼 -->
					<div class="d-flex justify-content-end">
						<a class="buttton_1" href="/stlistmod_adduser"
							style="height: 38px; display: flex; align-items: center; justify-content: center;">
							사용자 추가 <i class="fa fa-plus-circle ms-2"></i>
						</a>
					</div>

				</div>

				<!-- 학생리스트 -->
				<div class="table-responsive">
					<table
						class="table table-responsive table-striped table-borderless m-0 mt-2">
						<thead>
							<tr>
								<th scope="col">이름</th>
								<th scope="col">대학</th>
								<th scope="col">학과</th>
								<th scope="col">학번</th>
								<th scope="col">상태</th>
								<th scope="col">상세보기</th>
							</tr>
						</thead>

						<tbody id="studentTableBody">
							<tr th:each="student_data : ${student_list}">

								<td>
									<h6 class="font_14 col_3"
										th:text="${student_data.getStdnt_flnm()}"></h6>
								</td>
								<td>
									<h6 class="font_14 col_3"
										th:text="${student_data.getOgdp_univ()}"></h6>
								</td>
								<td>
									<h6 class="font_14 col_3"
										th:text="${student_data.getOgdp_scsbjt()}"></h6>
								</td>
								<td>
									<h6 class="font_14 col_3"
										th:text="${student_data.getStdnt_no()}"></h6>
								</td>
								<td>
									<h6 class="bg_3 text-center font_12 p-1 mb-0"
										th:text="${student_data.getStdnt_stts_se()}"></h6>
								</td>
								<td>
									<!-- 학생별 상세정보 모달 버튼 -->
									<button type="button" class="btn btn-primary bg_1"
										data-bs-toggle="modal" data-bs-target="#stuserdetailModal"
										th:data-stdnt_flnm="${student_data.getStdnt_flnm()}"
										th:data-stdnt_no="${student_data.getStdnt_no()}"
										th:data-user_eml_addr="${student_data.getUser_eml_addr()}"
										th:data-user_telno="${student_data.getUser_telno()}"
										th:data-user_zip="${student_data.getUser_zip()}"
										th:data-user_addr="${student_data.getUser_addr()}"
										th:data-user_daddr="${student_data.getUser_daddr()}"
										th:data-user_photo="${student_data.getUser_photo()}"
										th:data-brdt="${student_data.getBrdt()}"
										th:data-dlng_bank_nm="${student_data.getDlng_bank_nm()}"
										th:data-dlng_actno="${student_data.getDlng_actno()}"
										th:data-dpstr_nm="${student_data.getDpstr_nm()}"
										th:data-univ_prd="${student_data.getUniv_prd()}"
										th:data-ogdp_univ="${student_data.getOgdp_univ()}"
										th:data-ogdp_scsbjt="${student_data.getOgdp_scsbjt()}"
										th:data-mjr="${student_data.getMjr()}"
										th:data-stdnt_stts_se="${student_data.getStdnt_stts_se()}"
										th:data-std_grade="${student_data.getStd_grade()}"
										th:data-acnt_lck_yn="${student_data.getAcnt_lck_yn()}"
										th:data-reg_dt="${student_data.getReg_dt()}">
										<i class="fa fa-cog"> 상세보기</i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>


				<!-- 페이징처리 -->
				<br><div id="totalPagesDisplay" class="text-muted"></div>
				<div class="prod_1i1r pages" style="text-align: right;">
					<ul class="mb-0" id="stlist_paging">
						<!-- << 버튼 (첫 페이지로 이동) -->
						<li><a id="first-page"><i class="fa fa-angle-double-left"></i></a></li>
						<!-- < 버튼 (이전 페이지로 이동) -->
						<li><a id="prev-page"><i class="fa fa-chevron-left"></i></a></li>
						<!-- 페이지 번호는 JavaScript로 동적으로 생성 -->
						<!-- > 버튼 (다음 페이지로 이동) -->
						<li><a id="next-page"><i class="fa fa-chevron-right"></i></a></li>
						<!-- >> 버튼 (마지막 페이지로 이동) -->
						<li><a id="last-page"><i class="fa fa-angle-double-right"></i></a></li>
					</ul>
				</div>
		</main>
	</div>
	</div>
	<!-- 학생별 상세정보 모달 시작 -->
	<div th:insert="~{/admin/stlistmod_userdetailmodal :: student_userdetailmodal}"></div>
	<!-- 학생별 상세정보 모달 끝 -->
	
	<!--footer시작 -->
	<div th:replace="~{/admin/footer :: admin_footer}"></div>
	<!--footer끝 -->


	<!-- script part -->
	<script
		src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!-- 다음 API 주소 -->
	<script src="/admin/js/stlistmod.js?v=2"></script>
	<script src="/admin/js/bootstrap.bundle.min.js"></script>
	<script src="/admin/js/global.js"></script>
</body>


<!-- 부트스트랩 다른 버전하고 충돌나서 네비 dropdown 작동안되서 막아둠 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
</html>