<!-- ======= Footer ======= -->
<footer class="footer" th:fragment="empy_footer" style="width: calc(100% - 300px); text-align-last: auto;" >
 	<div class="contact-info" style="width: 800px; margin-left: 30%;" >
    	<p>아이디/비밀번호 문의: 02-820-0067~8</p>
        <p>개인정보처리방침</p>
        <address>
        	서울시 마포구 신촌로 176 중앙정보처리대학교 TEL.02-313-1711  Copyright Choongang Institute University, All Rights Reserved.
        </address>
        <p>문의사항은 메일로 보내주세요: <a href="mailto:sos@choongang.ac.kr">sos@choongang.ac.kr</a></p>
    </div>
</footer><!-- End Footer -->