<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>상담관리</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/assets/img/favicon.png" rel="icon">
<link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/assets/css/style.css" rel="stylesheet">
3
<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

<!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
	<div th:replace="~{/employee/empy_header :: empy_header}"></div>	<!-- 교직원 header -->
	
	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar" th:fragment="empy_sidebar">
		<ul class="sidebar-nav" id="sidebar-nav">
			<li class="nav-heading">교직원정보</li>
			<li class="nav-item">
				<a class="nav-link collapsed" href="/empy_info">
					<i class="bi bi-grid"></i> 
					<span>기본정보</span>
				</a>
			</li>
		</ul>
	</aside>
	<!-- End Sidebar -->

<main id="main" class="main">
    <!-- ======= Page Title ======= -->
    <div class="pagetitle">
      <h1>교직원정보</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/empy_info">교직원정보</a></li>
          <li class="breadcrumb-item active">기본정보</li>
        </ol>
      </nav>
    </div> 
    <!-- End Page Title -->
		<section class="section">
			<div class="row">
				<div class="col-lg-12">
			    <!-- ======= 개인정보 Card ======= -->
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">개인정보(한글은 폰트 적용X)</h5>
							<div class="row mb-1">
								<!-- row 1 -->
								<div class="col-md-2 col-lg-2">
									<img src="/assets/img/3.jpeg" alt="Profile" class="rounded-4" style="margin-left: 25%"
										width="80%" height="225px">
								</div>
								<div class="col-md-4 col-lg-4">
									<div class="row mb-1">
										<label class="col-sm-4 col-form-label right-tag">입사년도</label>
										<div class="col-sm-5 right-tag">
											<input type="text" class="form-control" value="2017" disabled>
										</div>
									</div>
									<div class="row mb-1">
										<label class="col-sm-4 col-form-label right-tag">교번</label>
										<div class="col-sm-5 right-tag">
											<input type="text" class="form-control" value="20171234" disabled>
										</div>
									</div>
									<div class="row mb-1">
										<label class="col-sm-4 col-form-label right-tag">이름</label>
										<div class="col-sm-5 right-tag">
											<input type="text" class="form-control" value="교직원a" disabled>
										</div>
									</div>
									<div class="row mb-1">
										<label class="col-sm-4 col-form-label right-tag">생년월일</label>
										<div class="col-sm-5 right-tag">
											<input type="text" class="form-control" value="891212" disabled>
										</div>
									</div>
									<div class="row mb-1">
										<label class="col-sm-4 col-form-label right-tag">소속기관(단과대학)</label>
										<div class="col-sm-5 right-tag">
											<input type="text" class="form-control" value="심리상담센터" disabled>
										</div>
									</div>
									<div class="row mb-1">
										<label class="col-sm-4 col-form-label right-tag">소속부서(학과)</label>
										<div class="col-sm-5 right-tag">
											<input type="text" class="form-control" value="상담실" disabled>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-lg-6">
									<div class="row mb-1">
										<label class="col-sm-4 col-form-label right-tag">교직(전공)</label>
										<div class="col-sm-6 right-tag">
											<input type="text" class="form-control" value="성인심리학" disabled>
										</div>
									</div>
									<div class="row mb-1">
										<label class="col-sm-4 col-form-label right-tag">선발일자</label>
										<div class="col-sm-6 right-tag">
											<input type="text" class="form-control" value="20170812" disabled>
										</div>
									</div>
									<div class="row mb-1">
										<label class="col-sm-4 col-form-label right-tag">교원자격증번호</label>
										<div class="col-sm-6 right-tag">
											<input type="text" class="form-control" value="123456" disabled>
										</div>
									</div>
									<div class="row mb-1">
										<label class="col-sm-4 col-form-label right-tag">교원자격증발급일자</label>
										<div class="col-sm-6 right-tag">
											<input type="text" class="form-control" value="20140712" disabled>
										</div>
									</div>
									<div class="row mb-1">
										<label class="col-sm-4 col-form-label right-tag">이메일</label>
										<div class="col-sm-6 right-tag">
											<input type="text" class="form-control" value="capybara@cauniv.com">
										</div>
									</div>
									<div class="row mb-3">
										<label class="col-sm-4 col-form-label right-tag">전화번호</label>
										<div class="col-sm-6 right-tag">
											<input type="text" class="form-control" value="010-1234-5678">
										</div>
									</div>
								</div>
							</div>
							
							<button type="button" class="btn btn-outline-success float-end">
								<i class="ri-save-3-line"></i> 저장
							</button>
							<button type="button" class="btn btn-outline-primary float-end">
								<i class="ri-edit-2-line"></i> 입력
							</button>
							
						</div>
					</div>
				<!-- End 개인 정보 Card -->
				
				<!-- ======= 거주지 정보 Card ======= -->
					<div class="card">
						<div class="card-body">	
							<h5 class="card-title">거주지 정보</h5>
							<div class="col-md-12">
								<div class="row mb-2">
									<label class="col-sm-2 col-form-label pd-left-3">우편번호</label>
									<div class="col-sm-2">
										<input type="text" class="form-control">
									</div>
									<button type="button" class="btn btn-primary"
										style="width: 100px; height: 38px;">주소 검색</button>
								</div>
								<div class="row mb-1">
									<label class="col-sm-2 col-form-label pd-left-3">주소</label>
									<div class="col-sm-10">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label pd-left-3">상세주소</label>
									<div class="col-sm-10">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
							
							<button type="button" class="btn btn-outline-success float-end">
								<i class="ri-save-3-line"></i> 저장
							</button>
							<button type="button" class="btn btn-outline-primary float-end">
								<i class="ri-edit-2-line"></i> 입력
							</button>
							
						</div>
					</div>
				<!-- End 거주지 정보 Card -->
				
				<!-- ======= 계좌 정보 Card ======= -->
					<div class="card">
						<div class="card-body">	
							<h5 class="card-title">계좌 정보</h5>
							<div class="row mb-3">
								<label class="col-sm-1 col-form-label pd-left-3">은행명</label>
								<div class="col-sm-2">
									<input type="text" class="form-control">
								</div>
								<label class="col-sm-1 col-form-label pd-left-3">계좌번호</label>
								<div class="col-sm-3">
									<input type="text" class="form-control">
								</div>
								<label class="col-sm-1 col-form-label pd-left-3">예금주</label>
								<div class="col-sm-1">
									<input type="text" class="form-control">
								</div>
							</div>
							
							<button type="button" class="btn btn-outline-success float-end">
								<i class="ri-save-3-line"></i> 저장
							</button>
							<button type="button" class="btn btn-outline-primary float-end">
								<i class="ri-edit-2-line"></i> 입력
							</button>
							
						</div>
					</div>
				<!-- End 계좌 정보 Card -->
				</div>
			</div>
		</section>
	</main>
	<!-- End #main -->
	
	<div th:replace="~{/employee/empy_footer :: empy_footer}"></div>	<!-- 교직원 footer -->
</body>

</html>