  <header id="header" class="header d-flex align-items-center sticky-top" th:fragment="extra_header">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <img src="/assets/img/choongang_logo.png" width="50px;">
      <a href="extra" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        
        <h1 class="sitename">중앙정보처리대학교</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/extra" class="active">홈<br></a></li>
          <li><a href="/extracurricular" class="active">비교과 프로그램</a></li>
          <li><a href="/mypage">마이페이지</a></li>
          <li><a href="/extra_notice">공지사항</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="index">포털 사이트</a>

    </div>
  </header>