<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/assets/css/error.css">
</head>
<body onclick="window.location.href='/'">
    <div class="error-container">
        <img src="/assets/img/errorpage.png" alt="Lost Animal" class="character-image rotate-animation">
        <div class="error-message">
            <h1>Error!! - Page Not Found</h1>
            <p>Oops! It seems like this page doesn't exist. The animal is lost, and so are you!</p>
        </div>
    </div>
</body>
</html>
