<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.ca.admin.stuser_repo">
<select id="student_list" resultType="com.cms.ca.student_dto" >
select * from STDNT_INFO order by STDNT_NO desc
</select>

<select id="professor_list" resultType="com.cms.ca.employee_dto" >
select * from EMP_INFO
<where>
MNG_AUTHRT!=''
</where>
order by EMP_NO desc
</select>
</mapper>