<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.ca.employee.EmployeeRepository">

	<select id="getEmployeeInfo" resultType="com.cms.ca.employee_dto" parameterType="String">
		select * from EMP_INFO where EMP_NO = #{emp_no}
	</select>

</mapper>