<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.ca.employee.EmployeeRepository">

	<select id="getEmployeeInfo" resultType="com.cms.ca.employee_dto" parameterType="String">
		select * from EMP_INFO where emp_no = #{emp_no}
	</select>

	<update id="updatePersonalEmployeeInfo" parameterType="com.cms.ca.employee_dto">
		update EMP_INFO 
		set emp_eml_addr =#{emp_eml_addr}, emp_telno=#{emp_telno}
		where emp_no=#{emp_no}
	</update>
	
	<update id="updateAddrEmployeeInfo" parameterType="com.cms.ca.employee_dto">
		update EMP_INFO 
		set emp_zip =#{emp_zip}, emp_addr=#{emp_addr}, emp_daddr=#{emp_daddr}
		where emp_no=#{emp_no}
	</update>
	
	<update id="updateBankEmployeeInfo" parameterType="com.cms.ca.employee_dto">
		update EMP_INFO 
		set dlng_bank_nm =#{dlng_bank_nm}, dlng_actno=#{dlng_actno}
		where emp_no=#{emp_no}
	</update>
	
	<select id="getStdntNameFromStdNo" resultType="String" parameterType="String">
		select stdnt_flnm from STDNT_INFO where stdnt_no = #{stdnt_no}
	</select>
	
	<insert id="addCounsel" parameterType="com.cms.ca.counsel_dto">
		insert into DSCSN_APLY 
		(aply_sn, bfr_aply_sn, hr_se, stdnt_no, emp_no, stts_cd, 
		plc, rsvt_dt, aply_dt, dscsn_mthd, dscsn_knd)
		values 
		('0', null, #{hr_se}, #{stdnt_no}, #{emp_no}, #{stts_cd}, 
		#{plc}, #{rsvt_dt}, now(), #{dscsn_mthd}, #{dscsn_knd})
	</insert>
	
	<select id="getAllCounsel" resultType="com.cms.ca.counsel_dto">
		select * from DSCSN_APLY where emp_no=#{emp_no} and bfr_aply_sn=null
		order by aply_sn desc
	</select>
	
	<select id="getAllCounselCount" resultType="int">
		select count(*) as cnt from DSCSN_APLY where emp_no=#{emp_no} and bfr_aply_sn=null
	</select>
</mapper>