<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.ca.student.StudentRepository">

	<select id="getOneStudent" resultType="com.cms.ca.student_dto" parameterType="String">
		select * from STDNT_INFO where STDNT_NO = #{stdnt_no}
	</select>

	<select id="getEmpID" resultType="String" parameterType="String">
		select EMP_NO from STDNT_ACAVSR_INFO where STDNT_NO = #{stdnt_no} and TKCG_YN = 'Y' order by STDNT_NO desc
	</select>

	<select id="getAllCounseler" resultType="com.cms.ca.employee_dto">
		select EMP_NO, EMP_FLNM from EMP_INFO where MNG_AUTHRT = 'C' order by EMP_NO desc
	</select>

	<select id="getAllCnslrTimes" resultType="com.cms.ca.view_counsel_dto">
		select * from VIEW_DSCSN_APLY where MNG_AUTHRT = 'C' and (STTS_CD = '미승인' OR STTS_CD = '승인') order by APLY_SN desc
	</select>

	<select id="getPrfsrTimes" resultType="com.cms.ca.counsel_dto" parameterType="String">
		select * from DSCSN_APLY where EMP_NO = #{emp_no} and (STTS_CD = '미승인' OR STTS_CD = '승인') order by APLY_SN desc
	</select>

	<select id="getFreeCounseler" resultType="String">
		select MAX(T1.EMP_NO) from EMP_INFO T1 where 1=1 and MNG_AUTHRT = 'C'
		and EMP_NO NOT IN (select S1.EMP_NO from DSCSN_APLY S1 where RSVT_DT = '20240918' and HR_SE = '2')
	
	</select>

	<select id="getListCounsel" resultType="com.cms.ca.view_counsel_dto" parameterType="Map">
		select APLY_SN, RSVT_DT, HR_SE, EMP_FLNM, DSCSN_MTHD, DSCSN_KND, STTS_CD from VIEW_DSCSN_APLY where STDNT_NO = #{stdnt_no}
		<if test='part=="0"'>
			and BFR_APLY_SN IS NULL and STTS_CD = '완료' and ${search_part} like concat('%', #{search_word}, '%')
		</if>
		<if test='part=="1"'>
			and BFR_APLY_SN IS NULL and STTS_CD = '완료'
		</if>
		<if test='part=="2"'>
			and RSVT_DT >= now() and STTS_CD = '미승인'
		</if>
		<if test='part=="3"'>
			and RSVT_DT >= now() and STTS_CD = '승인'
		</if>
		<if test='part=="4"'>
			and BFR_APLY_SN IS NULL and (STTS_CD = '취소' or STTS_CD = '완료')
		</if>
		order by APLY_SN desc
		<if test='part=="0" or part=="1"'>
			limit ${pageno}, ${datano}
		</if>
	</select>

	<select id="getListCounselInfo" resultType="com.cms.ca.view_counsel_dto" parameterType="String">
		select * from VIEW_DSCSN_APLY where APLY_SN = #{aply_sn} or BFR_APLY_SN = #{aply_sn} order by APLY_SN asc
	</select>

	<select id="getCountData" resultType="int" parameterType="String">
		select count(APLY_SN) from VIEW_DSCSN_APLY where STDNT_NO = #{stdnt_no} and BFR_APLY_SN IS NULL and STTS_CD = '완료'
	</select>

	<select id="getCountRound" resultType="int" parameterType="int">
		select count(BFR_APLY_SN) from VIEW_DSCSN_APLY where BFR_APLY_SN = #{aply_sn}
	</select>

	<insert id="addCounselReservation" parameterType="com.cms.ca.counsel_dto">
		insert into DSCSN_APLY (aply_sn, stdnt_no, emp_no, stts_cd, plc, hr_se, rsvt_dt, aply_dt, dscsn_mthd, dscsn_knd)
		values ('0', #{stdnt_no}, #{emp_no}, #{stts_cd}, #{plc}, #{hr_se}, #{rsvt_dt}, now(), #{dscsn_mthd}, #{dscsn_knd})
	</insert>

	<update id="setStudentInfo" parameterType="Map">
		update STDNT_INFO set 
		<if test='part=="1"'>
			USER_EML_ADDR = #{user_eml_addr}, USER_TELNO = #{user_telno} 
		</if>
		<if test='part=="2"'>
			USER_ZIP = #{user_zip}, USER_ADDR = #{user_addr}, USER_DADDR = #{user_daddr} 
		</if>
		<if test='part=="3"'>
			DLNG_BANK_NM = #{dlng_bank_nm}, DLNG_ACTNO = #{dlng_actno} 
		</if>
		where STDNT_NO = #{stdnt_no}
	</update>

	<update id="setCounselReservCancel" parameterType="String">
		update DSCSN_APLY set STTS_CD = '취소' where APLY_SN = #{aply_sn}
	</update>

</mapper>